<%- include('./partials/header') %>

<section class="container">
    <h1>Random Choice Tool</h1>
    <p>Put your tags in the Textarea</p>
    <p>and devide them by a comma (,)</p>
    <textarea name="tags" id="tags" placeholder="Your tags go here..."></textarea>
</section>

<%- include('./partials/footer') %>