<%- include('./partials/header') %>

<section class="container">

    <h1>Random Choice Tool</h1>
    <p>Put your tags in the Textarea</p>
    <p>and devide them by a comma ( , )</p>

    <textarea name="textarea" class="textarea" id="textarea" placeholder="Your tags go here..."></textarea>

    <div class="tags" id="tags">
    </div>

</section>

<%- include('./partials/footer') %>